* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 300px;
  width: 300px;
}

.img-1 {
  opacity: 1;
}

.img-2 {
  opacity: 0.7;
}

.img-3 {
  opacity: 0.5;
}

.img-4 {
  opacity: 0.2;
}

.img-5 {
  opacity: 0;
}
